<div class="home-container">
    <div class="hero-section">
      <div class="hero-overlay">
        <!-- Logo or Image -->
        <img src="https://lh3.googleusercontent.com/a-/ALV-UjXJPZyRC3Iep4RmCYiiFvQaHaYrf8n9Lsgswzs163HwAUkFjOU=s265-w265-h265" 
             alt="NEXTRA Solutions Logo" 
             class="hero-logo" />
        <p>Innovative smart glass
            Transform your space with style and efficiency.</p>
        <div class="cta-buttons">
          <button (click)="products()" class="btn primary-btn">Our Products</button>
          <button (click)="contactUs()" class="btn secondary-btn">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
  
  