<div class="media-gallery">
    <h1>Our Previous Installations</h1>
    <p>Watch how NEXTRA Solutions transforms spaces with Smart Glass technology.</p>
    
    <div class="videos">
      <!-- Video 1: Loop Enabled -->
      <div class="video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/DgMHsOXfyL4?loop=1&playlist=DgMHsOXfyL4"
          title="Smart Glass Installation 1"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>Installation at Office Space</p>
      </div>
  
      <!-- Video 2: Loop Enabled -->
      <div class="video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/L7WRVjYdG6I?loop=1&playlist=L7WRVjYdG6I"
          title="Smart Glass Installation 2"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>Residential Skylight Transformation</p>
      </div>
    </div>
  </div>
  